<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core" 
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:comps="http://java.sun.com/jsf/composite/componentes"
				xmlns:rich="http://richfaces.org/rich"
				template="template.xhtml">
			
	<ui:define name="titulo"> Cadastro de Emprestimo</ui:define>

	<ui:define name="corpo">
		<h:form>
			<p>
				Veiculo : 
				<h:selectOneMenu id="cbListaDePlacas" 
					required="true"
					value="#{selectOneModelBean.favoriteId}">
					<f:selectItem itemLabel="-- Select --" noSelectionOption="true" />
				</h:selectOneMenu>
			</p>
			<p>
				<h:panelGroup>
				
				</h:panelGroup>
			</p>
			<p>
				CPF : 
				<h:inputText></h:inputText>
			</p>
			<p>
				Data Prevista de devolução :
				<h:inputText>
					<f:convertDateTime></f:convertDateTime>
				</h:inputText>
			</p>
		
		</h:form>
	</ui:define>				

</ui:composition>