<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core" 
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:comps="http://java.sun.com/jsf/composite/componentes"
				xmlns:rich="http://richfaces.org/rich"
				template="template.xhtml">
			
	<ui:define name="titulo"> Cadastro de Emprestimo</ui:define>

	<ui:define name="corpo">
		<f:event listener="#{listagemEmprestimoViewBean.preRenderView}" type="preRenderView"></f:event>
		<h:form>
			<h:dataTable value="#{listagemEmprestimoViewBean.emprestimos}" var="emprestimo">
				<h:column>
					<f:facet name="header">Codigo</f:facet>
						#{emprestimo.codigo}
				</h:column>
				<h:column>
					<f:facet name="header">Cliente</f:facet>
					#{emprestimo.cpf_cliente}
				</h:column>
				<h:column>
					<f:facet name="header">Placa</f:facet>
					#{emprestimo.placa}
				</h:column>
				<h:column>
					<f:facet name="header">Data Devolucao</f:facet>
					#{emprestimo.previsao_devolucao}
				</h:column>
				<h:column>
					<f:facet name="header">Situacao</f:facet>
					#{emprestimo.situacao}
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>				

</ui:composition>