<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta charset="UTF-8" />
</h:head>
<h:body>
	<ui:debug hotkey="x" rendered="#{facesContext.application.projectStage == 'Development'}"></ui:debug>
	<h:messages/>
	<div id="menu">
		<p>
			<h:link outcome="cadastroDeEmprestimo.xhtml">Cadastrar Emprestimo</h:link>	
		</p>
		<p>
			<h:link outcome="listagemDeEmprestimo.xhtml">Listar Emprestimo</h:link>	
		</p>
	</div>
	<div id="corpo" >
		<ui:insert name="corpo"></ui:insert> 
	</div>
		
</h:body>
</html>
